.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
  margin: 0 auto;
  max-width: 30em;
  height: calc(100vh - 4em);
  background-color: var(--primaryColor);
  border-radius: 0.3em;
  border: 1px solid #8ba88e45;
}
.card__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5em;
  gap: 0.4em;
  width: 100%;
  border-bottom: 1px solid #8ba88e75;
}
.card__containerPhoto {
  position: relative;
  padding: 0.1em;
  border: 2px solid var(--fontAltColor);
  border-radius: 4em;
}
.card__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 4em;
  overflow: hidden;
}
.card__photo {
  border-radius: 3em;
}
.card__backbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 3em;
  height: 3em;
  padding: 0.2em;
  border-radius: 2em;
  border: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.card__backbutton:hover {
  background-color: #CDCDCD15;
}
.card__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  gap: 0.5em;
}
.card__username {
  color: var(--fontAltColor);
  font-weight: 400;
  font-size: 1em;
}

.emptyLink {
  position: relative;
  padding: 0.3em 0.6em;
  border-radius: 2em;
  background-color: #e2e2e225;
}
.emptyLink__icon {
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  color: var(--fontAltColor);
  transform: translateX(-1.35em) translateY(-0.85em) rotate(-45deg);
  animation: animationArrow 1s ease-in-out infinite alternate;
}

@keyframes animationArrow {
  0% {
    transform: translateX(-1.35em) translateY(-0.85em) rotate(-45deg);
  }
  100% {
    transform: translateX(-2.2em) translateY(-1.7em) rotate(-45deg);
  }
}
.link {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #888;
}
.link::-webkit-scrollbar {
  width: 6px;
  /* Ancho de la scrollbar */
}
.link::-webkit-scrollbar-thumb {
  background-color: var(--terciaryColor);
}
.link::-webkit-scrollbar-track {
  background-color: var(--secondaryColor);
  /* Color de la pista */
}
.link__network {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--backgroundColor);
  border: 1px solid transparent;
  padding: 1em 0.5em 0.5em 0.5em;
  width: 100%;
  min-width: 20em;
  margin: 0.15em 0;
  transition: all 0.25s ease-in-out;
  border-radius: 0.2em;
}
.link__network:hover {
  background-color: var(--primaryColor);
  border: 1px solid #81f38d98;
}
.link__network:hover > .link__editButton, .link__network:hover > .link__deleteButton {
  display: flex;
}
.link__deleteButton {
  display: none;
  align-items: center;
  position: absolute;
  color: var(--buttonColor);
  right: 0.15em;
  top: 0.15em;
  background-color: transparent;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  animation: animationButtons 0.5s ease both;
}
.link__deleteButton:hover {
  color: var(--fontColor);
}
.link__editButton {
  display: none;
  align-items: center;
  position: absolute;
  color: var(--buttonColor);
  right: 2.5em;
  top: 0.15em;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  animation: animationButtons 0.5s ease both;
}
.link__editButton:hover {
  color: var(--fontColor);
}
.link__buttons {
  position: relative;
  position: sticky;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5em;
  width: 100%;
  padding: 0.5em 1em 0.5em 1em;
  z-index: 2;
}
.link__color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  column-gap: 0.3em;
  color: var(--buttonColor);
  background-color: var(--backgroundColor);
  border: 1px solid transparent;
  border-radius: 0.2em;
  padding: 0.2em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.link__colorActive {
  background-color: var(--secondaryColor);
  color: var(--fontAltColor);
  border: 1px solid var(--buttonColor);
}
.link__color:hover {
  background-color: var(--secondaryColor);
  color: var(--fontAltColor);
  border: 1px solid var(--buttonColor);
}
.link__colorIcon {
  width: 2em;
  height: 2em;
}
.link__add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  column-gap: 0.3em;
  color: var(--buttonColor);
  background-color: var(--backgroundColor);
  border: 1px solid transparent;
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.link__add:hover {
  background-color: var(--secondaryColor);
  color: var(--fontAltColor);
  border: 1px solid var(--buttonColor);
}
.link__addIcon {
  width: 1.5em;
  height: 1.5em;
}
.link__settings {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 0.2em;
  background-color: var(--backgroundColor);
  border: 1px solid var(--buttonColor);
  animation: animationSettings 0.3s ease both;
  transform-origin: right top;
  font-size: 0.8em;
}
.link__settingsPreview {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--terciaryColor);
  font-size: 0.7em;
  right: 0.8em;
  top: 2.8em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  animation: animationSettings 0.3s ease both;
  transition: all 0.15s ease-in-out;
}
.link__settingsPreview:hover {
  color: var(--fontAltColor);
}
.link__settingsPreview:hover > .link__settingsPreviewIcon {
  color: var(--fontAltColor);
}
.link__settingsPreviewIcon {
  color: var(--terciaryColor);
}
.link__settingsTitle {
  border-bottom: 1px solid var(--buttonColor);
  padding: 0 0 0.3em 0;
  color: var(--fontAltColor);
}
.link__settingsOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 0 0.5em 0 0;
}
.link__settingsOptions:hover {
  background-color: #8ba88e45;
}
.link__settingsColor {
  width: 2em;
  height: 2.2em;
  border: none;
  background-color: #ffffff00;
  border-radius: 0em;
  cursor: pointer;
}
.link__settingsRadius {
  width: 1.5em;
  height: 1.5em;
}
.link__settingsSave {
  padding: 0.4em 1em;
  border: none;
  border-radius: 0.2em;
  background-color: var(--secondaryColor);
  color: var(--fontColor);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.link__settingsSave:hover {
  background-color: var(--buttonColor);
}

.menuSettings {
  position: absolute;
  right: 1.1em;
  top: 3em;
}

.preview {
  animation: animationSettings 0.3s ease both;
  transform-origin: top center;
}

@keyframes animationButtons {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animationSettings {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.roundedOptions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}
.roundedOptions:hover {
  background-color: #8ba88e45;
}
.roundedOptions__title {
  grid-column: 1/span 4;
  color: var(--buttonColor);
  font-weight: 500;
  font-size: 1em;
}
.roundedOptions__radiusOne, .roundedOptions__radiusTwo, .roundedOptions__radiusThree, .roundedOptions__radiusFour {
  height: 2em;
  grid-column: 1/span 3;
}
.roundedOptions__labelOne {
  grid-column: 4/5;
}

.modaladd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3b3b3b75;
  backdrop-filter: blur(5px);
  animation: animationModal 0.2s ease both;
  z-index: 3;
}
.modaladd__title {
  padding: 0.4em 1.1em;
  margin: 0 0 1em 0;
  background-color: #f8f8f810;
  border-radius: 2em;
  border: 1px solid #7ae78935;
  color: var(--fontAltColor);
}
.modaladd__link {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
  width: 90%;
  background-color: var(--backgroundColor);
  border: 1px solid #ebebeb25;
}
.modaladd__buttons {
  display: flex;
  justify-content: space-around;
}
.modaladd__button {
  padding: 0.4em 1em;
  border: none;
  border-radius: 0.2em;
  background-color: var(--secondaryColor);
  color: var(--fontColor);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.modaladd__button:hover {
  background-color: var(--buttonColor);
}

@keyframes animationModal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}