.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30em;
  height: 100%;
  background-color: var(--primaryColor);
  border-radius: 0.3em;
  border: 1px solid #525252;
}
.card__title {
  margin: 0 0 2em 0;
  font-size: 1.3em;
  padding: 0.2em 1.2em;
  border-radius: 2em;
}
.card__containerPhoto {
  position: relative;
  padding: 0.4em;
  border: 4px solid var(--buttonColor);
  border-radius: 4em;
}
.card__EditIcon {
  position: absolute;
  right: -0.5em;
  bottom: 0.7em;
  display: flex;
  border: 2px solid var(--buttonColor);
  background-color: var(--secondaryColor);
  border-radius: 1em;
  padding: 0.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card__EditIcon:hover {
  background-color: var(--terciaryColor);
}
.card__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  width: 7em;
  height: 7em;
  border-radius: 4em;
  overflow: hidden;
}
.card__photo {
  border-radius: 4em;
}
.card__container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.card__containerName {
  font-size: 1.8em;
  font-weight: 600;
  color: var(--fontColor);
}
.card__container:hover > .form__containerEditIcon {
  display: flex;
}
.card__username {
  color: var(--buttonColor);
  font-weight: 400;
}
.card__email {
  font-size: 0.8em;
  color: #AEAEAE;
}
.card__description {
  color: #c2c2c2;
  text-align: center;
  margin: 1em 0;
}

.iconLoading {
  animation: animationLoading 1s ease-in-out infinite;
}

.textLoading {
  font-size: 2em;
}

@keyframes animationLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}